<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmN7jb3P7hy0nuTcJjEvR6lGqbm6d51_E</string>
	<key>GCM_SENDER_ID</key>
	<string>278666888228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ledMatrix</string>
	<key>PROJECT_ID</key>
	<string>esp32-connect-za</string>
	<key>STORAGE_BUCKET</key>
	<string>esp32-connect-za.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278666888228:ios:7c62a1eece6765b63b04b1</string>
	<key>DATABASE_URL</key>
	<string>https://esp32-connect-za-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>